@import url('https://fonts.googleapis.com/css?family=Raleway');

@keyframes jump {
  0%   { transform: translateY(0%); }
  50%  { transform: translateY(-10%); }
  100% { transform: translateY(0%); }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0,0,0,0.7); }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: rgb(0,0,0,0.7);

}

.page-one-navbar{
  height: 100vh;
  background-image: url('./pics/pic1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(237, 239, 241);
  font-size: 2vw;
  list-style: none;
  position: fixed;
  width: 100%;
  transition: transform .5s ease-out;
  height: 4vw;
  z-index:1;
}

.navbar .home{
  margin-right: auto
}

.hidden {
  transform: translateY(-100%);
}

.navbar li {
  width: auto;
  margin: 0 1% 0 1%;
  text-align: center;
  color: rgb(0, 0, 0, .4);
  transition: all .5s ease-out;

}

.icon {
  font-size: 2.5vw;
  margin: 0;
}

.icon:hover{
  animation: jump 1s infinite;

}

.navbar li:hover{
  color: black;
  cursor: pointer;
}



.navbar-mobile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(237, 239, 241);
  font-size: 4vw;
  list-style: none;
  position: fixed;
  width: 100%;
  transition: transform .5s ease-out;
  height: 2.5rem;
  z-index:1;
}

.navbar-mobile li div {
  width: 35px;
  height: 4px;
  background-color: black;
  margin: 6px 6px;
}
.navbar .home{
  margin-right: auto
}

.mobile-menu{
  list-style-type: none;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 239, 241, 0.9);
  width: 80vw;
  height: 100%;
  position: fixed;
  top:0;
  justify-content: flex-start;
  z-index:1;
  transform: translateX(-100%);
  transition: transform .5s ease-out;
  z-index:2;

  
}

.mobile-menu-show{
  transform: translateX(0);
}

.mobile-menu li {
  margin: 5% 1%;
  font-size: 6vw;
  text-align: center;
}

.mobile-menu li:hover {
  cursor: pointer;
}

.page-one{
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.port-pic{
  width: calc(200px + .5vw);
  border-radius: 50%;
  margin: 10px;
}

.title{
   font-size: calc(35px + 1vw);
  background-color: rgb(255,255,255, 0.5);
  border-radius: 5px;
  padding: 1%;
}

.subtitle{
  font-size: calc(25px + .8vw);
  margin: 15px 0;
}


.hire-me{
  margin: 10px;
  font-size: calc(20px + .8vw);
  border: solid 2px rgb(0,0,0,0.7);
  width: 150px;
  text-align: center;
  border-radius: 75px;
  transition: all .2s ease-in
}

.hire-me:hover{
  cursor: pointer;
  color: black;
  border-color: black;
  animation: jump .5s infinite;

}

.page-two{
  overflow: hidden;
  padding-bottom: 5%;
}

.page-two-title{
  font-size: calc(40px + 2vw);
  margin: 30px 4%;
  
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-template-rows: auto;
  grid-gap: 10px;

}

.project{
  text-align: center;
  text-decoration: none;
  transform: translateX(-400%);
  transition: transform 1s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-show{
  transform: translateX(0);
}

.project img {
  width: 90%;
  border-radius: 10px;

  
}

.project:hover{
  transform: scale(1.02)
}

.page-three{
  overflow: hidden;
  background-color: rgb(216, 216, 218);
  background-image: url('./pics/pic2.jpg');
  background-size: cover;
  background-position: bottom;
}

.page-three-title{
  margin: 30px 4% 1% 4%;
  font-size: calc(40px + 2vw);
  transform: translateX(240%);
  transition: transform 1s ease-out;
}

.show{
  transform: translateX(0);
}

.info{
  display: flex;
  flex-direction: row;
  margin: 0px 4% 2% 0;
  justify-content: space-around;
}

.bio{
  width: 46%;
  transform: translateX(240%);
  transition: transform 1s ease-out;
}

.bio-show{
  transform: translateX(0);
}

.bio h1 {
  text-align: center;
  font-size:calc(35px + 1.2vw);
}

.bio p {
  text-align: justify;
  margin: 25px 10px;
  font-size: calc(15px + .6vw);
  background-color: rgb(255,255,255, 0.5);
  border-radius: 10px;
}

.skills{
  width: 46%;
  transform: translateX(120%);
  transition: transform 1s ease-out;
}

.skills-show{
  transform: translateX(0);
}

.skills h1{
  text-align: center;
  font-size:calc(35px + 1.2vw);
}



.languages{
  margin: 25px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 50% 50%;
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
}

svg{
  width: 100px;
}

@media only screen and (max-width: 800px){
  .info{
    flex-direction: column;
  }

  .project{
    width: 100vw;
  }

  .bio{
    width: 100%;
  }

  .skills{
    width: 100%;
  }
}